target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# compiled output
frontend/dist
frontend/dist-server
frontend/tmp
frontend/out-tsc

# dependencies
frontend/node_modules
frontend/node

src/main/resources/static/*.*